gui/third/wxWidgets/

gui/build/
gui/build/
gui/build/msys/

gui/financer.db

gui/etc/dist/win32/financer.db
gui/etc/dist/*.zip
gui/etc/dist/win32/financer/financer.db
gui/etc/dist/win32/financer/financer.exe
gui/etc/dist/win32/*.zip

gui/etc/dist/linux/financer/financer
gui/etc/dist/linux/financer/financer.db
gui/etc/dist/linux/*.tar.gz

gui/third/wxWidgets/build

database/backup/

*.un~
*~
*.swp
*.swo

old/
